# Challenge Part 2

In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [23]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv", index_col=0)
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,Ambilobe,MG,2020-05-08 03:32:59,-13.20,49.05,73.35,81,18,3.00,few clouds,0.0,0.0
1,Kalmunai,LK,2020-05-08 03:32:59,7.42,81.82,85.55,68,47,0.63,scattered clouds,0.0,0.0
2,Mataura,NZ,2020-05-08 03:32:59,-46.19,168.86,52.61,77,99,1.54,overcast clouds,0.0,0.0
3,Geraldton,AU,2020-05-08 03:32:59,-28.77,114.60,69.80,56,40,10.29,scattered clouds,0.0,0.0
4,Kaseda,JP,2020-05-08 03:32:59,31.42,130.32,71.60,49,75,16.11,broken clouds,0.0,0.0

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_ques = input("Do you want it to be raining? (yes/no) ")
snow_ques = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [25]:
# Filter the dataset to find the cities that fit the criteria.
temp_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
temp_cities_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,Kalmunai,LK,2020-05-08 03:32:59,7.42,81.82,85.55,68,47,0.63,scattered clouds,0.00,0.0
7,Kieta,PG,2020-05-08 03:42:53,-6.22,155.63,84.52,69,36,4.65,light rain,0.21,0.0
13,Dhidhdhoo,MV,2020-05-08 03:37:48,6.88,73.10,84.40,71,100,5.75,overcast clouds,0.00,0.0
17,Atuona,PF,2020-05-08 03:33:02,-9.80,-139.03,80.71,77,84,18.48,broken clouds,0.00,0.0
20,Saint George,US,2020-05-08 03:31:24,37.10,-113.58,77.00,8,1,27.51,clear sky,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
518,Tayu,ID,2020-05-08 03:34:29,-6.54,111.05,89.64,60,22,8.28,few clouds,0.00,0.0
524,Garowe,SO,2020-05-08 03:34:30,8.41,48.48,79.34,72,22,8.23,few clouds,0.00,0.0
526,Taunggyi,MM,2020-05-08 03:34:30,20.78,97.03,85.21,39,0,7.61,clear sky,0.00,0.0
532,Yeppoon,AU,2020-05-08 03:34:32,-23.13,150.73,80.60,42,75,10.29,broken clouds,0.00,0.0
534,Ulladulla,AU,2020-05-08 03:34:32,-35.35,150.47,79.00,27,0,18.34,clear sky,0.00,0.0

In [26]:
# Use if statemeants to find where it is raining or snowing.
if (rain_ques == "no") & (snow_ques == "no"):
    preferred_cities_df = temp_cities_df.loc[(temp_cities_df["Rain Inches (last 3 hrs)"] == 0) & \
                                       (temp_cities_df["Snow Inches (last 3 hrs)"] == 0)]
    
elif (rain_ques == "yes") & (snow_ques == "no"):
    preferred_cities_df = temp_cities_df.loc[(temp_cities_df["Rain Inches (last 3 hrs)"] != 0) & \
                                       (temp_cities_df["Snow Inches (last 3 hrs)"] == 0)]
    
elif (rain_ques == "no") & (snow_ques == "yes"):
    preferred_cities_df = temp_cities_df.loc[(temp_cities_df["Rain Inches (last 3 hrs)"] == 0) & \
                                       (temp_cities_df["Snow Inches (last 3 hrs)"] != 0)]

else: 
    preferred_cities_df = temp_cities_df.loc[(temp_cities_df["Rain Inches (last 3 hrs)"] != 0) & \
                                       (temp_cities_df["Snow Inches (last 3 hrs)"] != 0)]

In [27]:
# # Filter the dataset to find the cities that fit the criteria.
# preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
#                                        (city_data_df["Max Temp"] >= min_temp) & \
#                                        (city_data_df["Rain Inches (last 3 hrs)"] == 0) & \
#                                        (city_data_df["Snow Inches (last 3 hrs)"] == 0)]


preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,Kalmunai,LK,2020-05-08 03:32:59,7.42,81.82,85.55,68,47,0.63,scattered clouds,0.0,0.0
13,Dhidhdhoo,MV,2020-05-08 03:37:48,6.88,73.10,84.40,71,100,5.75,overcast clouds,0.0,0.0
17,Atuona,PF,2020-05-08 03:33:02,-9.80,-139.03,80.71,77,84,18.48,broken clouds,0.0,0.0
20,Saint George,US,2020-05-08 03:31:24,37.10,-113.58,77.00,8,1,27.51,clear sky,0.0,0.0
23,Puerto Ayora,EC,2020-05-08 03:33:03,-0.74,-90.35,77.00,94,23,1.01,few clouds,0.0,0.0
30,Road Town,VG,2020-05-08 03:31:11,18.42,-64.62,82.00,87,60,1.01,broken clouds,0.0,0.0
31,Yulara,AU,2020-05-08 03:33:04,-25.24,130.99,84.20,16,40,6.93,scattered clouds,0.0,0.0
32,Bandarbeyla,SO,2020-05-08 03:33:05,9.49,50.81,82.98,70,3,3.96,clear sky,0.0,0.0
37,Rikitea,PF,2020-05-08 03:33:05,-23.12,-134.97,75.58,72,2,11.83,clear sky,0.0,0.0
38,Kibala,TD,2020-05-08 03:33:06,9.11,18.35,78.80,78,20,4.65,few clouds,0.0,0.0

In [28]:
# Drop any null rowns
preferred_cities_df = preferred_cities_df.dropna()

preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,Kalmunai,LK,2020-05-08 03:32:59,7.42,81.82,85.55,68,47,0.63,scattered clouds,0.0,0.0
13,Dhidhdhoo,MV,2020-05-08 03:37:48,6.88,73.10,84.40,71,100,5.75,overcast clouds,0.0,0.0
17,Atuona,PF,2020-05-08 03:33:02,-9.80,-139.03,80.71,77,84,18.48,broken clouds,0.0,0.0
20,Saint George,US,2020-05-08 03:31:24,37.10,-113.58,77.00,8,1,27.51,clear sky,0.0,0.0
23,Puerto Ayora,EC,2020-05-08 03:33:03,-0.74,-90.35,77.00,94,23,1.01,few clouds,0.0,0.0
30,Road Town,VG,2020-05-08 03:31:11,18.42,-64.62,82.00,87,60,1.01,broken clouds,0.0,0.0
31,Yulara,AU,2020-05-08 03:33:04,-25.24,130.99,84.20,16,40,6.93,scattered clouds,0.0,0.0
32,Bandarbeyla,SO,2020-05-08 03:33:05,9.49,50.81,82.98,70,3,3.96,clear sky,0.0,0.0
37,Rikitea,PF,2020-05-08 03:33:05,-23.12,-134.97,75.58,72,2,11.83,clear sky,0.0,0.0
38,Kibala,TD,2020-05-08 03:33:06,9.11,18.35,78.80,78,20,4.65,few clouds,0.0,0.0

In [29]:
preferred_cities_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,Kalmunai,LK,2020-05-08 03:32:59,7.42,81.82,85.55,68,47,0.63,scattered clouds,0.0,0.0
13,Dhidhdhoo,MV,2020-05-08 03:37:48,6.88,73.10,84.40,71,100,5.75,overcast clouds,0.0,0.0
17,Atuona,PF,2020-05-08 03:33:02,-9.80,-139.03,80.71,77,84,18.48,broken clouds,0.0,0.0
20,Saint George,US,2020-05-08 03:31:24,37.10,-113.58,77.00,8,1,27.51,clear sky,0.0,0.0
23,Puerto Ayora,EC,2020-05-08 03:33:03,-0.74,-90.35,77.00,94,23,1.01,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
518,Tayu,ID,2020-05-08 03:34:29,-6.54,111.05,89.64,60,22,8.28,few clouds,0.0,0.0
524,Garowe,SO,2020-05-08 03:34:30,8.41,48.48,79.34,72,22,8.23,few clouds,0.0,0.0
526,Taunggyi,MM,2020-05-08 03:34:30,20.78,97.03,85.21,39,0,7.61,clear sky,0.0,0.0
532,Yeppoon,AU,2020-05-08 03:34:32,-23.13,150.73,80.60,42,75,10.29,broken clouds,0.0,0.0
534,Ulladulla,AU,2020-05-08 03:34:32,-35.35,150.47,79.00,27,0,18.34,clear sky,0.0,0.0

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kalmunai,LK,85.55,scattered clouds,7.42,81.82,
13,Dhidhdhoo,MV,84.40,overcast clouds,6.88,73.10,
17,Atuona,PF,80.71,broken clouds,-9.80,-139.03,
20,Saint George,US,77.00,clear sky,37.10,-113.58,
23,Puerto Ayora,EC,77.00,few clouds,-0.74,-90.35,
30,Road Town,VG,82.00,broken clouds,18.42,-64.62,
31,Yulara,AU,84.20,scattered clouds,-25.24,130.99,
32,Bandarbeyla,SO,82.98,clear sky,9.49,50.81,
37,Rikitea,PF,75.58,clear sky,-23.12,-134.97,
38,Kibala,TD,78.80,few clouds,9.11,18.35,

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
#Create markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file)

In [40]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kalmunai,LK,85.55,scattered clouds,7.42,81.82,VS Villa
13,Dhidhdhoo,MV,84.40,overcast clouds,6.88,73.10,Dhidhoo beach
17,Atuona,PF,80.71,broken clouds,-9.80,-139.03,Villa Enata
20,Saint George,US,77.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
23,Puerto Ayora,EC,77.00,few clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
518,Tayu,ID,89.64,few clouds,-6.54,111.05,Toko pakaian bu is Tayu
524,Garowe,SO,79.34,few clouds,8.41,48.48,Curubo Hotel
526,Taunggyi,MM,85.21,clear sky,20.78,97.03,True Treasure Hotel
532,Yeppoon,AU,80.60,broken clouds,-23.13,150.73,Villa Mar Colina
534,Ulladulla,AU,79.00,clear sky,-35.35,150.47,Sandpiper Motel