# Challenge Part 3

In [110]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [111]:
# Read CSV and make a DataFrame.
preferred_cities_df = pd.read_csv("weather_data/WeatherPy_vacation.csv", index_col=0)
preferred_cities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kalmunai,LK,85.55,scattered clouds,7.42,81.82,VS Villa
13,Dhidhdhoo,MV,84.40,overcast clouds,6.88,73.10,Dhidhoo beach
17,Atuona,PF,80.71,broken clouds,-9.80,-139.03,Villa Enata
20,Saint George,US,77.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
23,Puerto Ayora,EC,77.00,few clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
518,Tayu,ID,89.64,few clouds,-6.54,111.05,Toko pakaian bu is Tayu
524,Garowe,SO,79.34,few clouds,8.41,48.48,Curubo Hotel
526,Taunggyi,MM,85.21,clear sky,20.78,97.03,True Treasure Hotel
532,Yeppoon,AU,80.60,broken clouds,-23.13,150.73,Villa Mar Colina
534,Ulladulla,AU,79.00,clear sky,-35.35,150.47,Sandpiper Motel

In [130]:
preferred_cities_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [112]:
us_df = preferred_cities_df.loc[preferred_cities_df["Country"] == "US", :]
us_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
20,Saint George,US,77.0,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
45,Hilo,US,80.6,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
73,Kapaa,US,77.0,broken clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
78,Kahului,US,78.8,scattered clouds,20.89,-156.47,Maui Seaside Hotel
178,Pahrump,US,82.0,clear sky,36.21,-115.98,Best Western Pahrump Oasis
231,Hays,US,77.0,broken clouds,30.05,-98.03,Sinya on Lone Man Creek
252,Ukiah,US,78.8,clear sky,39.15,-123.21,Hampton Inn Ukiah
297,Half Moon Bay,US,75.2,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
441,Brownwood,US,78.8,few clouds,31.71,-98.99,La Quinta Inn & Suites by Wyndham Brownwood
462,Jackson,US,80.6,clear sky,42.42,-122.83,Agate Village Apartments

In [124]:
hotel_df = preferred_cities_df.loc[(us_df["City"] == "Ukiah") | (_df["City"] == "Half Moon Bay") | (us_df["City"] == "Saint George") | (us_df["City"] == "Pahrump") , :] 
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
20,Saint George,US,77.0,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
178,Pahrump,US,82.0,clear sky,36.21,-115.98,Best Western Pahrump Oasis
252,Ukiah,US,78.8,clear sky,39.15,-123.21,Hampton Inn Ukiah
297,Half Moon Bay,US,75.2,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [167]:
ukiah_city_df = preferred_cities_df.loc[preferred_cities_df["City"] == "Ukiah", :]
half_moon_bay_city_df = preferred_cities_df.loc[preferred_cities_df["City"] == "Half Moon Bay", :]
saint_george_df = preferred_cities_df.loc[preferred_cities_df["City"] == "Saint George", :]
pahrump_city_df = preferred_cities_df.loc[preferred_cities_df["City"] == "Pahrump", :]

In [168]:
saint_george_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [169]:
ukiah_city_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
252,Ukiah,US,78.8,clear sky,39.15,-123.21,Hampton Inn Ukiah

In [170]:
#  Create tuple lists for the lat and lng variables
ukiah_loc = tuple(zip(ukiah_city_df.Lat, ukiah_city_df.Lng))[0]
half_moon_bay_loc = tuple(zip(half_moon_bay_city_df.Lat, half_moon_bay_city_df.Lng))[0]
pahrump_loc = tuple(zip(pahrump_city_df.Lat, pahrump_city_df.Lng))[0]
saint_george_loc = tuple(zip(saint_george_df.Lat, saint_george_df.Lng))[0]

In [171]:
ukiah_loc

(39.15, -123.21)

In [172]:
half_moon_bay_loc

(37.46, -122.43)

In [173]:
# waypoints
my_waypoints= [half_moon_bay_loc, ukiah_loc]
my_waypoints

[(37.46, -122.43), (39.15, -123.21)]

In [176]:
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
Directions = gmaps.directions_layer(saint_george_loc, pahrump_loc , waypoints=my_waypoints, travel_mode='DRIVING')
fig.add_layer(Directions)



fig

Figure(layout=FigureLayout(height='420px'))

In [182]:
#Create markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [183]:
import gmaps.datasets
gmaps.configure(api_key=g_key)
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))